@inject BlazorDataModel Model
@implements IDisposable

<div class="embed-responsive embed-responsive-@Model.AspectRatioBootstrapResponsive">
    <video id="@ElementId" class="embed-video embed-responsive-item @Model.AspectRatio" loop="@Loop" controls="@ShowControls" muted="@Mute">
        <source src="@VideoUrl" type="@Tools.GetMimeType(Tools.GetExtension(VideoUrl))" />
    </video>
</div>

@code {
    [Parameter] public string ElementId { get; set; } = "";
    [Parameter] public bool Loop { get; set; }
    [Parameter] public bool Mute { get; set; } = true;
    [Parameter] public bool ShowControls { get; set;}
    [Parameter] public string VideoUrl { get; set; } = "";

    public void Dispose(){
    }

    // protected override void OnParametersSet() { }
}